@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply w-screen h-screen bg-gray-100;
}

body {
    @apply flex flex-col flex-grow select-none;
}

.app-header {
    z-index: 9999;
}

.floating {
    @apply fixed bottom-0 right-0 mb-8 mr-8 bg-green-400 text-white text-center shadow-md rounded-full h-12 w-12;
    z-index: 9999;
}

.card {
    @apply rounded shadow-md w-full mb-8;
}

.card .card-header {
    @apply border-b border-gray-300;
}

.card .card-container {
    @apply p-4;
}